<%- include('partials/header') -%> <%- include('partials/nav') -%>
<div class="mainBody">
    <H1>Contact Information</H1>
    <p>
        Discord: Ut Crypticiores#9919<br /><br />
        Git Hub:
        <a href=" https://github.com/UtCrypticiores"
            >https://github.com/UtCrypticiores</a
        >
    </p>
</div>
<script>
    document.getElementById("about").classList.add("active");
</script>
<%- include('partials/footer') -%>
