<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<div class="mainBody"></div>
<script>document.getElementById("home").classList.add("active")</script>
<%- include('partials/footer') -%>
