<%- include('partials/header') -%>
<link rel="stylesheet" href="css/login.css" />

<% if(fail){ %>
<div id="msg" class="msg">
    <br /><br />
    <p>There was an error logging you in please try again</p>
    <br />
    <button onclick="hide()">Ok</button>
</div>
<% } %>
<div class="box">
    <h1>Login To Polaris</h1>
    <a href="/login/auth/">
        <div class="link">
            <span style="vertical-align: middle">Login with Discord</span>
            <img
                style="height: 25px; vertical-align: middle"
                src="./resources/discordIcon.png"
            /></div></a
    ><br /><br />
    <a onclick="back()">back</a>
</div>
<div id="url" data-url="<%= url %>"></div>
<%- include('partials/particles') -%>
<script>
    particles({
        colors: ["#8fd5a6", "#ad6a6c", "#9eadc8", "#0e79b2", "#edae49"],
        minSize: 2,
        maxSize: 8,
        amount: 2000,
        density: 1500,
        velocity: [0.5, 1],
    });
</script>
<script>
    function back() {
        let url = document.getElementById("url").dataset.url;
        if (url == undefined || url == "") {
            window.location.href = "/";
        } else {
            window.location.href = url;
        }
    }
    function hide() {
        document.getElementById("msg").style.visibility = "hidden";
    }
</script>

<%- include('partials/footer') -%>
